/*start*/
.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
    }
    
    .dropdown-hover>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
    }
.navbar{
    padding-bottom: 0%;

}
.navbar ul li {
    margin-right: 20px;

}
.navbar ul li a{
    border: 10px;
    border-color: white;
    border-radius: 8%;
    padding: 5px 8px;
    margin-bottom: 5px;
    text-decoration: none;

}
.navbar img{
    margin-left: 70px;
}
.nav-item a{
    
    border: 10px;
    border-color: white;
    border-radius: 10%;
    padding: 1px 6px;
    margin-bottom: 5px;
    text-decoration: none;
    
    
    font: initial; /* Important for vertical align on mobile phones */
    
  }